.checkout-page {
  width: 100vw;
  padding: 16px;
}

.checkout-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  .checkout-left {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .card-box input,
    .address-section input {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .address-section {
      margin-top: 20px;
    }

    .pix-box img {
      width: 200px;
      height: auto;
      margin-top: 10px;
    }
  }
}
