/* Estilo principal para a página */
.main-container {
    background-color: #f7fafc;
    min-height: 100vh;
    padding: 1.5rem;
  }

  /* Wrapper para o conteúdo */
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Título da página */
  .page-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #2d3748;
    margin-bottom: 1.5rem;
  }

  /* Estilo para os cards de produtos */
  app-product-store {
    min-width: 250px; /* Define a largura mínima para os cards */
  }
