<app-nav-bar></app-nav-bar>

<div class="min-h-screen flex items-center" style="background: #f5f5f5">
  <div
    class="m-auto flex flex-col justify-center space-y-2 sm:w-[480px] lg:p-8"
  >
    <div class="rounded-xl bg-white shadow-lg p-6">
      <div class="mb-2 flex flex-col space-y-2 text-left">
        <h1 class="text-lg font-semibold tracking-tight">
          Cadastrar um produto
        </h1>
      </div>
      <div class="grid gap-6">
        <form>
          <div class="grid gap-2">
            <div class="space-y-1">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=":r0:-form-item"
                >Nome do produto</label
              ><input
                class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                placeholder="Insira o nome do produto..."
                id=":r0:-form-item"
                aria-describedby=":r0:-form-item-description"
                aria-invalid="false"
                value=""
                name="name"
              />
            </div>
            <div class="space-y-1">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=":r0:-form-item"
                >Descrição</label
              ><input
                class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                placeholder="Insira uma descrição do produto..."
                id=":r0:-form-item"
                aria-describedby=":r0:-form-item-description"
                aria-invalid="false"
                value=""
                name="description"
              />
            </div>
            <div class="space-y-1">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=":r0:-form-item"
                >Valor (R$)</label
              ><input
                class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                placeholder="R$ 0,00"
                id=":r0:-form-item"
                aria-describedby=":r0:-form-item-description"
                aria-invalid="false"
                value=""
                name="price"
              />
            </div>
            <div class="space-y-1">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="image"
                >Imagem do Produto</label
              >

              <div
                class="flex items-center space-x-2 border border-gray-300 rounded-md h-9 px-3 bg-white shadow-sm"
              >
                <label
                  for="image"
                  class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-1 rounded-md cursor-pointer text-sm font-medium"
                >
                  Escolher arquivo
                </label>
                <span
                  id="file-name"
                  class="text-gray-600 text-sm ml-2 overflow-hidden text-ellipsis whitespace-nowrap flex-1"
                  style="max-width: calc(100% - 120px)"
                  >Nenhum arquivo escolhido
                </span>
              </div>
              <input
                type="file"
                accept="image/*"
                id="image"
                name="image"
                class="hidden"
                onchange="document.getElementById('file-name').textContent = this.files[0] ? this.files[0].name : 'Nenhum arquivo escolhido'"
              />
            </div>

            <button
              type="submit"
              class="inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium transition-colors focus:outline-none focus:ring-1 focus:ring-primary hover:bg-green-700 hover:cursor-pointer disabled:pointer-events-none disabled:opacity-50 bg-green-600 text-white shadow h-9 px-4 py-2 mt-2"
            >
              Adicionar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
