<app-nav-bar></app-nav-bar>

    <div class="w-3/4 h-3/4 flex px-[128px] py-[64px] m-auto">
      <!-- Sidebar -->
      <aside class="w-[300px] p-4 bg-gray-100 shadow-md">
        <ul class="flex flex-col gap-4 mb-4">
          <li><a routerLink="/profile/my-information">Minhas informações</a></li>
          <li><a routerLink="/profile/my-orders">Meus pedidos</a></li>
          <li class="">
            <a routerLink="/profile/my-products">Produtos a venda</a>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <button (click)="onSubmit()" class="mt-4 bg-red-500 text-white px-4 py-2 rounded">
          Sair
        </button>
      </aside>
    
      <!-- Conteúdo das páginas -->
      <div class="flex flex-1 p-4 bg-white shadow-md rounded-lg">
        <router-outlet></router-outlet>
      </div>
    </div>
    